.contenido{
  margin: 0;
  width: 100%;
}

body{
  font-family: verdana;
  width: 90%;
  background-color: #F2F2F2;
  color: #D8D4D5;
  margin-left: 5%;
}

header{
  background-color: grey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


.logo-img{
  display: block;
  background: #F2F2F2;
  border-radius: 30px;
  width: 170px;
  margin: 8px;
  margin-left: 30px;

}

.img-social{
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 69px;
  display: block;
  background: #F2F2F2;
  border-radius: 10px;
  margin-right: 5px;
  transition: 0.5s;
}

 .img-social:hover {
    border-radius: 15px;
    opacity: 0.7;
}

nav{

  height: 50px;
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;
}

.secciones{
  width: 13%;
  bottom: 4px;
  text-align: center;
  float: left;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  margin-left: 3.3%;
  border: 15px solid grey;
  transition: 0.4s;
}

.secciones a{
  color: black;
  text-decoration: none;
}

.secciones:hover{
  text-decoration: none;
  color: black;
  opacity: 0.8;
  border: 10px solid grey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.muro{
  background: grey;
  bottom: 13px;
}

.publicacion{
  background: #A4A4A4;
  color: black;
  margin-top: 10px;
  border-radius: 5px;
}

.img-publicacion img{
  height: 200px;
  width: 200px;
}

.img-publicacion{
  text-align: center;
  padding: 5px;
}

textarea{
  width: 90%;
  height: 65px;
}

.img-comentario img{
  width: 65px;
  height: 65px;
  border-radius: 5px;
}

textarea {
  resize: none;
}

.comentario{
  width: 100%;
}

.img-comentario{
  float: left;
  margin: 5px;
}

.input-comentario{
  margin: 5px;

}

.columna-2{
  background: #A4A4A4;
  color: black;
  border-radius: 5px;
  margin-top: 8px;
}

.buscador{
  text-align: center;

}

.buscador input{
  width: 80%;
  float: left;
  border: 0;
}

.buscador span{
  float: left;
}

.buscador button{
  background: white;
  box-shadow: none;
  border: 0;
  color: #666666;
  height: 46px;
  width: 50px;;
  text-align: center;
  border-left: solid 1px #ccc;
}

.buscador img{
  text-align: left;
  width: 15px;
}

.buscador button:hover{
  background: white;
  border: 0;
  border-left: solid 1px #ccc;
}

.lista{
  text-align: center;
  margin: 53px 8px 0px 8px;
}

.casillas a{
  text-decoration: none;
  font-size: 14px;
  color: black;
}

.casillas a:hover{
  text-decoration: none;
  font-size: 16px;
}

.casillas{
  background: #A4A4A4;
  border: 1px solid white;
}

@media only screen and (max-width: 750px) {
  .secciones{
    margin-top: 15px;
    width: 100%;
    margin-left: 8px;
  }

  .logo-img{
    margin-left: 75px;
    width: 70%;
    height: 160px;
  }

  .redes-soci{
    margin-left: 89px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .publicacion{
    margin-bottom: 15px;
  }

  .columna-2{
    display: none;
  }
}
